In [1]:
import numpy as np
import pandas as pd

In [64]:
review=pd.read_csv("./data/yelp_review.csv")

In [83]:
def clean_df(review):
    # select only year 2016, 2017
    review.loc[:, ('date')] = pd.to_datetime(review['date'])
    review.loc[:, ('year')] = review['date'].dt.year
    review.loc[:, ('month')] = review['date'].dt.month
    review = review[review['year'] > 2015]
    review = review[['business_id','review_id','date','year','month','stars','text','useful','funny','cool']]
    
    # filter restaurants that have at least 20+ reviews in 2016 & 2017
    reviews_2016 = review[review['year'] == 2016]
    reviews_2017 = review[review['year'] == 2017]
    
    big_list_2016 = reviews_2016.groupby(['business_id','month'])['review_id'].count()[(reviews_2016.groupby(['business_id','month'])['review_id'].count()>5)].groupby('business_id').count().sort_values(ascending=False)
    big_list_2017 = reviews_2017.groupby(['business_id','month'])['review_id'].count()[(reviews_2017.groupby(['business_id','month'])['review_id'].count()>5)].groupby('business_id').count().sort_values(ascending=False)
    
    over_20_reviews_2016 = big_list_2016[big_list_2016==12].index
    over_20_reviews_2017 = big_list_2017[big_list_2017==12].index
    
    in_2016 = set(over_20_reviews_2016)
    in_2017 = set(over_20_reviews_2017)
    
    intersection = list(in_2016 & in_2017)

    review = review[review['business_id'].isin(intersection)]
    
    return review

In [84]:
df_clean = clean_df(review)

In [88]:
df_clean.head()

,business_id,review_id,date,year,month,stars,text,useful,funny,cool
223,yhgUyctWczUN13MinNgZ3w,BU4KiBXGvrudZ_Dbx0lT_g,2017-05-20,2017,5,3,I recently payed this establishment a visit be...,1,0,0
267,SVGApDPNdpFlEjwRQThCxA,xGYGeu0zSTqLsUlG-_h6kQ,2017-02-01,2017,2,4,Stopped in here with my family for dinner toda...,1,0,0
355,S-oLPRdhlyL5HAknBKTUcQ,z_mVLygzPn8uHp63SSCErw,2017-11-30,2017,11,4,Holy portion sizes! You get a lot of bang for ...,0,0,0
374,yfxDa8RFOvJPQh0rNtakHA,UmRtEJMPe86HKVs-WYuzmg,2016-06-22,2016,6,3,"There weren't many vegetarian options, and I w...",0,0,0
379,f4x1YBxkLrZg652xt2KR5g,sqX-4E1wsfW9CE6-RFwKmw,2016-06-22,2016,6,4,"I'd been to the Hash House downtown, but not t...",0,0,0