In [2]:
import numpy as np
import pandas as pd

In [3]:
review=pd.read_csv("../data/raw/yelp_review.csv")

In [10]:
def clean_df(review):
    # select only year 2016, 2017
    review.loc[:, ('date')] = pd.to_datetime(review['date'])
    review.loc[:, ('year')] = review['date'].dt.year
    review.loc[:, ('month')] = review['date'].dt.month
    review = review[review['year'] > 2015]
    review = review[['business_id','review_id','date','year','month','stars','text','useful','funny','cool']]
    
    # filter restaurants that have at least 20+ reviews in 2016 & 2017
    reviews_2016 = review[review['year'] == 2016]
    reviews_2017 = review[review['year'] == 2017]
    
    big_list_2016 = reviews_2016.groupby(['business_id','month'])['review_id'].count()[(reviews_2016.groupby(['business_id','month'])['review_id'].count()>5)].groupby('business_id').count().sort_values(ascending=False)
    big_list_2017 = reviews_2017.groupby(['business_id','month'])['review_id'].count()[(reviews_2017.groupby(['business_id','month'])['review_id'].count()>5)].groupby('business_id').count().sort_values(ascending=False)
    
    over_20_reviews_2016 = big_list_2016[big_list_2016==12].index
    over_20_reviews_2017 = big_list_2017[big_list_2017==12].index
    
    in_2016 = set(over_20_reviews_2016)
    in_2017 = set(over_20_reviews_2017)
    
    intersection = list(in_2016 & in_2017)

    review = review[review['business_id'].isin(intersection)]
    
    return review

In [11]:
df_clean = clean_df(review)

In [12]:
df_clean.head()

,business_id,review_id,date,year,month,stars,text,useful,funny,cool
198,Trbt0Ex85yvwT8DHoEFCvg,qOkKKBgIvpg3xzxJitCoCQ,2017-10-11,2017,10,1,Ordered food to go from here.\n\nThey send you...,2,1,0
216,q3dJQtwZQrrurNT-1bNKgQ,YfcyLNPWXL9ihdnLIsX_Yg,2017-02-15,2017,2,4,We've been wanting to try this restaurant for ...,1,0,0
223,yhgUyctWczUN13MinNgZ3w,BU4KiBXGvrudZ_Dbx0lT_g,2017-05-20,2017,5,3,I recently payed this establishment a visit be...,1,0,0
227,ngs16C2M_uTq2zXamltHVw,izzYICg1JYsdg7t9W6FQcw,2017-05-28,2017,5,3,So leaving work the other night I was in the m...,3,0,0
267,SVGApDPNdpFlEjwRQThCxA,xGYGeu0zSTqLsUlG-_h6kQ,2017-02-01,2017,2,4,Stopped in here with my family for dinner toda...,1,0,0

In [13]:
df_clean['business_id'].nunique()

398

In [14]:
df_clean.to_csv('../data/filtered/cleaned_review.csv', index=False)

In [4]:
def clean_df_modi(review, x=5):
    # select only year 2016, 2017
    review.loc[:, ('date')] = pd.to_datetime(review['date'])
    review.loc[:, ('year')] = review['date'].dt.year
    review.loc[:, ('month')] = review['date'].dt.month
    review = review[review['year'] > 2014]
    review = review[['business_id','review_id','date','year','month','stars','text','useful','funny','cool']]
    
    # filter restaurants that have at least 20+ reviews in 2016 & 2017
    reviews_2015 = review[review['year'] == 2015]
    reviews_2016 = review[review['year'] == 2016]
    reviews_2017 = review[review['year'] == 2017]
    
    big_list_2015 = reviews_2015.groupby(['business_id','month'])['review_id'].count()[(reviews_2015.groupby(['business_id','month'])['review_id'].count()>x)].groupby('business_id').count().sort_values(ascending=False)
    big_list_2016 = reviews_2016.groupby(['business_id','month'])['review_id'].count()[(reviews_2016.groupby(['business_id','month'])['review_id'].count()>x)].groupby('business_id').count().sort_values(ascending=False)
    big_list_2017 = reviews_2017.groupby(['business_id','month'])['review_id'].count()[(reviews_2017.groupby(['business_id','month'])['review_id'].count()>x)].groupby('business_id').count().sort_values(ascending=False)
    
    over_20_reviews_2015 = big_list_2015[big_list_2015==12].index
    over_20_reviews_2016 = big_list_2016[big_list_2016==12].index
    over_20_reviews_2017 = big_list_2017[big_list_2017==12].index
    
    in_2015 = set(over_20_reviews_2015)
    in_2016 = set(over_20_reviews_2016)
    in_2017 = set(over_20_reviews_2017)
    
    intersection = list(in_2015 & in_2016 & in_2017)

    review = review[review['business_id'].isin(intersection)]
    
    return review

In [5]:
df_clean = clean_df_modi(review, x=3)

In [7]:
df_clean['business_id'].nunique()

282

In [6]:
df_clean.to_csv('../data/filtered/cleaned_review_modi_3.csv', index=False)